<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <!-- CDN INSTALL -->
        <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/element-ui@2.14.1/lib/theme-chalk/index.css">
        <script src="https://unpkg.com/element-ui@2.14.1/lib/index.js"></script>
        <script src="https://unpkg.com/axios@0.21.0/dist/axios.min.js"></script>
        <!-- LOCAL INSTALL
        <script src="../static/vue.js"></script>
        <link rel="stylesheet" href="../static/index.css">
        <script src="../static/index.js"></script>
        <script src="../static/axios.min.js"></script>
        -->
        <!-- CSS -->
        <style>
            #welcome{
                font-size: 20px;
                color: white;
                opacity: 0.8;
            }
            .usrinfo{
                font-size: 18px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .mbutton{
                display: inline;
            }
        </style>
    </head>

    <body style="background-image:url(../static/main_bg.png)"><!-- body部分添加背景图片 -->

        <!-- 抬头欢迎提示 -->
        <div id="welcome" style="margin-left: 2%;">
            <h1 style="display: inline;">欢迎：</h1>
            <h1 style="display: inline;" id="cur_un">{{username}}</h1>
        </div>

        <!-- 账户相关，由vue变量account控制 -->
        <div id="account" style="margin-left: 2%; margin-top: 20px; font-size: 30px;">

            <el-button class="mbutton" type="success" icon="el-icon-user-solid" @click="infoFormVisible = true; get_userinfo()">查看账户信息</el-button>
            <el-button class="mbutton" type="primary" icon="el-icon-edit" @click="dialogFormVisible = true">修改账户信息</el-button>
            <el-button class="mbutton" type="warning" icon="el-icon-s-home" @click="exitlogin()">退出登录</el-button>
            
            <!-- 查看个人信息 -->
            <el-dialog title="账户信息" :visible.sync="infoFormVisible" width="50%">
                <div class="usrinfo">用户id：{[userinfo.uid]}</div>
                <div class="usrinfo">用户名：{[userinfo.username]}</div>
                <div class="usrinfo">信誉分：{[userinfo.credit]}</div>
                <div class="usrinfo">当前享受折扣：{[10.0-userinfo.credit/1000.0]}（折）</div>
                <div class="usrinfo">余额：{[userinfo.balance]}（元）</div>
                <div class="usrinfo">已借阅数目：{[userinfo.borrownum]}（本）</div>
                <div class="usrinfo" v-if="userinfo.level==0">等级：普通用户</div>
                <div class="usrinfo" v-else>等级：管理员</div>
                <div slot="footer" class="dialog-footer" style="margin-top: 15px;">
                    <el-button type="primary" @click="infoFormVisible = false">确 定</el-button>
                </div>   
            </el-dialog>
            
            <!-- 修改个人信息 -->
            <el-dialog title="修改账户信息" :visible.sync="dialogFormVisible" width="50%">
                <el-form :model="form">
                    <el-form-item label="新的用户名" :label-width="formLabelWidth">
                        <el-input v-model="form.after_username" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="新的密码" :label-width="formLabelWidth">
                        <el-input v-model="form.after_password" show-password></el-input>
                    </el-form-item>
                    <el-form-item label="输入原有密码确认" :label-width="formLabelWidth">
                        <el-input v-model="form.before_password" show-password></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogFormVisible = false;change_userinfo()">确 定</el-button>
                </div>
            </el-dialog>

        </div>

        <!-- BMS主体，留出两侧边距 -->
        <div id="book" style="margin-left: 2%; margin-right: 2%;">

            <!-- 选项卡样式 -->
            <el-tabs type="border-card" @tab-click="handleClick" style="opacity: 0.95;">

                <!-- 图书查找 -->
                <el-tab-pane label="图书查找" name="searchbook">
                    <!-- 图书查找表单 -->
                    <el-form ref="form" :model="search_form">
                        <el-col :span="3"><!-- 图书查找按钮 -->
                            <el-button icon="el-icon-search" type="info" @click="search_book()" round 
                            style="width: 200px; font-weight: 400; font-size: large;">点击查找/刷新</el-button>
                        </el-col>
                        <el-col :span="7">
                            <el-form-item label="书名">
                                <el-input v-model="search_form.book_name" style="width: 300px;"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="7">
                            <el-form-item label="作者名">
                                <el-input v-model="search_form.book_author" style="width: 300px;"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="7">
                            <el-form-item label="出版社名">
                                <el-input v-model="search_form.book_publisher" style="width: 300px;"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-form>

                    <!-- 查找结果 -->
                    <div v-if="statuscode>=1">
                        <el-table :data="booklist.slice((currentPage-1)*pageSize,currentPage*pageSize)" style="width: 100%">
                            <el-table-column prop="bookid" label="书号" width="50"></el-table-column>
                            <el-table-column prop="bookname" label="书名" width="500"></el-table-column>
                            <el-table-column prop="author" label="作者" width="400"></el-table-column>
                            <el-table-column prop="publisher" label="出版社" width="200"></el-table-column>
                            <el-table-column prop="publishdate" label="出版日期" width="150"></el-table-column>
                            <el-table-column prop="price" label="价格（元）" width="100"></el-table-column>
                            <el-table-column prop="storage" label="库存（本）" width="100"></el-table-column>
                            <!-- 查看书评按钮 -->
                            <el-table-column width="100">
                                <template slot-scope="scope">
                                    <el-button icon="el-icon-document" type="text" @click="view_comment(scope.row)">查看书评</el-button>
                                    <el-dialog
                                        title="已有评论（最近10条）"
                                        :append-to-body="true"
                                        :visible.sync="commentdialogVisible"
                                        width="50%"
                                        center>
                                        <el-table :data="comment_list" style="width: 100%" :row-class-name="comment">
                                            <el-table-column prop="username" label="用户名" width="100"></el-table-column>
                                            <el-table-column prop="content" label="书评内容" width="700"></el-table-column>
                                            <el-table-column prop="cdate" label="评论日期"></el-table-column>
                                        </el-table>
                                        <span slot="footer" class="dialog-footer" center>
                                            <el-button type="primary" @click="commentdialogVisible = false">确 定</el-button>
                                        </span>
                                    </el-dialog>
                                </template>
                            </el-table-column>
                            <!-- 借阅按钮 -->
                            <el-table-column width="70">
                                <template slot-scope="scope">
                                    <el-button icon="el-icon-reading" type="text" @click="borrow_book(scope.row)">借阅</el-button>
                                        <el-dialog
                                            title="请选择借阅的起止日期"
                                            :append-to-body="true"
                                            :visible.sync="dialogVisible"
                                            width="30%"
                                            center>
                                            <div class="block" style="text-align: center;">
                                                <div class="demonstration" style="font-size: 16px; text-align: center;">选择日期后，点击“确定”完成借阅</div>
                                                <!-- 不能选择之前的日期，最多30天 -->
                                                <div style="margin-top: 15px; text-align: center;">
                                                    <el-date-picker
                                                        v-model="borrow_date"
                                                        type="daterange"
                                                        format="yyyy-MM-dd"
                                                        value-format="yyyy-MM-dd"
                                                        range-separator="至"
                                                        start-placeholder="开始日期"
                                                        end-placeholder="结束日期"
                                                        :picker-options="pickerOptions">
                                                    </el-date-picker>
                                                </div>
                                            </div>    
                                            <span slot="footer" class="dialog-footer" center>
                                                <el-button @click="dialogVisible = false; borrow_date=[]">取 消</el-button>
                                                <el-button type="primary" @click="dialogVisible = false;commit_borrow()">确 定</el-button>
                                            </span>
                                        </el-dialog>
                                </template>
                            </el-table-column>
                            <!-- 购买按钮 -->
                            <el-table-column>
                                <template slot-scope="scope">
                                    <el-button icon="el-icon-shopping-cart-1" type="text" @click="buy_book(scope.row)">购买</el-button>
                                        <el-dialog
                                        title="购买确认"
                                        :append-to-body="true"
                                        :visible.sync="buydialogVisible"
                                        width="30%"
                                        center>
                                        <div style="font-size: 16px;">确认购买《{[buy_book_name]}》吗？</div>
                                        <div style="font-size: 16px; margin-top: 10px;">您当前的折扣为: {[discount*10]} 折</div>
                                        <div style="font-size: 16px;margin-top: 10px">折后价为：{[buy_book_price]} 元</div>
                                        <div style="color: red; font-size: 18px; margin-top: 10px; font-weight: 500;">注意：购买完成后不可取消！</div>
                                        <span slot="footer" class="dialog-footer">
                                            <el-button @click="buydialogVisible = false">取 消</el-button>
                                            <el-button type="primary" @click="buydialogVisible = false;commit_buy()">确 定</el-button>
                                        </span>
                                    </el-dialog>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="currentPage"
                            :page-sizes="[10, 20, 30, 50, 100]"
                            :page-size="pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="booklist.length">
                        </el-pagination>
                    </div>
                </el-tab-pane>

                <!-- 查看已借阅/添加书评 -->
                <el-tab-pane label="我的借阅/添加书评" name="myborrow">
                    <!-- 我的借阅 -->
                    <div>您的信誉分：{[credit]}</div>
                    <el-table :data="borrowlist" style="width: 100%">
                        <!-- 基本信息正常显示 -->
                        <el-table-column property="bookid" label="书号" width="100"></el-table-column>
                        <el-table-column property="bookname" label="书名" width="500"></el-table-column>
                        <el-table-column property="startdate" label="起始日期" width="150"></el-table-column>
                        <el-table-column property="enddate" label="终止日期" width="150"></el-table-column>
                        <el-table-column property="remain" label="到期剩余时间（天）" width="150"></el-table-column>
                        <!-- 根据isStarted和isExpired判断 -->
                        <el-table-column label="状态" width="100">
                            <template slot-scope="scope">
                                <p v-if="borrowlist[scope.$index].isstarted==1&&borrowlist[scope.$index].isexpired==1" style="color: red;">已逾期</p>
                                <p v-if="borrowlist[scope.$index].isstarted==1&&borrowlist[scope.$index].isexpired==0" style="color: green;">已开始</p>
                                <p v-if="borrowlist[scope.$index].isstarted==0" style="color: blue;">未开始</p>
                            </template>
                        </el-table-column>
                        <!-- 暂未开始借阅的才显示此按钮 -->
                        <el-table-column width="210">
                            <template slot-scope="scope">
                                <el-button icon="el-icon-remove-outline" type="text" @click="recall_borrow(scope.row)"
                                v-if="borrowlist[scope.$index].isstarted==0">
                                    取消借阅此书
                                </el-button>
                            </template>                          
                        </el-table-column>
                        <!-- 正在阅读的书目才能添加书评 -->
                        <el-table-column>
                            <template slot-scope="scope">
                                <el-button icon="el-icon-edit-outline" type="text" @click="dialogFormVisible=true;comment_bookid=scope.row.bookid"
                                v-if="borrowlist[scope.$index].isstarted==1">
                                    添加书评
                                </el-button>
                                <el-dialog title="添加书评" :visible.sync="dialogFormVisible" :append-to-body="true" width="50%">
                                    <h3>请文明发言：</h3>
                                    <el-input v-model="comment" type="textarea" placeholder="请输入书评" maxlength="100" show-word-limit></el-input>
                                    <div slot="footer" class="dialog-footer">
                                        <el-button @click="dialogFormVisible = false">取 消</el-button>
                                        <el-button type="primary" @click="dialogFormVisible = false;book_comment()">确 定</el-button>
                                    </div>
                                </el-dialog>
                            </template>                          
                        </el-table-column>
                    </el-table> 
                </el-tab-pane>

                <!-- 我的购买 -->
                <el-tab-pane label="我的购买" name="mybuy">
                    <div style="margin-right: 10px;">您的余额：{[balance]}</div><div>您已消费：{[consume]}</div>
                    <el-table :data="buylist" style="width: 100%">
                        <el-table-column property="bookid" label="书号" width="100"></el-table-column>
                        <el-table-column property="bookname" label="书名" width="500"></el-table-column>
                        <el-table-column property="author" label="作者" width="400"></el-table-column>
                        <el-table-column property="publisher" label="出版社" width="200"></el-table-column>
                        <el-table-column property="buydate" label="购买日期" width="150"></el-table-column>
                        <el-table-column property="price" label="原价（元）" width="150"></el-table-column>
                        <el-table-column property="discount" label="折扣（折）" width="150"></el-table-column>
                        <el-table-column property="after_price" label="折后价（元）"></el-table-column>
                    </el-table>    
                </el-tab-pane>

                <!-- 热书榜 -->
                <el-tab-pane label="热书榜" name="topreaded">
                    <el-table :data="topreadlist" style="width: 100%">
                        <el-table-column property="listindex" label="排名" width="100"></el-table-column>
                        <el-table-column property="bookid" label="书号" width="100"></el-table-column>
                        <el-table-column property="bookname" label="书名" width="500"></el-table-column>
                        <el-table-column property="author" label="作者" width="400"></el-table-column>
                        <el-table-column property="publisher" label="出版社" width="200"></el-table-column>
                        <el-table-column property="price" label="售价（元）" width="200"></el-table-column>
                        <el-table-column property="readed" label="阅读量（人次）"></el-table-column>
                    </el-table>
                </el-tab-pane>
            </el-tabs>
            
        </div>
    </body>

    <script>
        // account变量专门处理与用户信息相关的操作
        var account = new Vue({
            el: "#account",
            delimiters: ["{[", "]}"],
            data: {
                // 修改用户信息的表单
                form:{
                    "before_username": document.getElementById("cur_un").innerHTML,
                    "before_password": '',
                    "after_username": '',
                    "after_password": ''
                },
                userinfo: {}, // 当前用户信息
                dialogFormVisible: false,  // 修改对话框
                infoFormVisible: false,  // 查看用户信息对话框
                formLabelWidth: '150px'
            },
            methods: {
                // 退出登录，跳转
                exitlogin() {
                    window.location.href="http://127.0.0.1:5000/"
                },
                // 获得当前用户信息
                get_userinfo() {
                    axios.post('http://127.0.0.1:5000/getinfo',{
                        'username': document.getElementById("cur_un").innerHTML,
                    })
                    .then(Response => {
                        console.log(Response['data']['status'])
                        console.log(Response['data'])
                        if(Response['data']['status']=='success'){
                            this.userinfo=Response['data']['userinfo']
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                },
                // 改变用户信息
                change_userinfo() {
                    axios.post('http://127.0.0.1:5000/chginfo',{
                        "before_username": this.form['before_username'],
                        "before_password": this.form['before_password'],
                        "after_username": this.form['after_username'],
                        "after_password": this.form['after_password'],
                    })
                    .then(Response => {
                        console.log(Response['data']['status'])
                        if(Response['data']['status']=='success'){
                            this.$notify({
                                title: '成功',
                                message: '账户信息修改成功，请重新登录',
                                type: 'success'
                            });
                            window.location.href='../login';
                        }
                        else if(Response['data']['status']=='duplicated_username'){
                            this.$notify.error({
                                title: '错误',
                                message: '用户名重复'
                            });
                        }
                        else if(Response['data']['status']=='incorrect_password'){
                            this.$notify.error({
                                title: '错误',
                                message: '密码有误'
                            });
                        }
                        else if(Response['data']['status']=='invalid_info'){
                            this.$notify.error({
                                title: '错误',
                                message: '用户名或密码不合法',
                                type: 'warning'
                            });
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                }
            }
        });

        // 图书管理系统
        var bms = new Vue({
            el: "#book",
            // 如果不可避免的在同一个页面里既有 django 渲染又有 vue 渲染的部分，可采用 vue 的 delimiters 分隔符解决
            delimiters: ["{[", "]}"],
            data: {
                // 由于vue绑定的关系，这里重新获取当前用户信息
                username: document.getElementById("cur_un").innerHTML,  // 用户名
                credit: 100,  // 用户信誉分
                discount: 1,  // 信誉分对应折扣
                balance: 0,  // 用户余额
                consume: 0,  // 用户消费额

                // 图书查询
                search_form:{
                    book_name: '',
                    book_author: '',
                    book_publisher: ''
                },
                currentPage: 1, // 查询结果当前页
                pageSize: 10, // 查询结果每页多少条
                dateRange: [],
                statuscode: 0, // 0-初始 1-查询成功 2-可以借阅某本书籍 3-获得借阅记录
                booklist: [],  // 返回的查询结果

                // 图书借阅
                borrow_book_id: 0,  // 当前借阅的书id
                borrow_date: [],  // 选择的借阅日期
                borrowlist: [],  // 返回的我的借阅列表
                // 日期选择器
                pickerMinDate: '',
                pickerOptions: {
                    /*
                    onPick: ({ maxDate, minDate}) => {
                        this.pickerMinDate = minDate.getTime()
                    },
                    */
                    // 限制不能选择今天之前的日期
                    disabledDate: (time) => {
                        let amonth = 45 * 24 * 3600 * 1000
                        let minTime = Date.now() - 24 * 3600 * 1000
                        /*
                        if(minTime<this.pickerMinDate){
                            minTime = this.pickerMinDate
                        }
                        */
                        let maxTime = minTime + amonth
                        return time.getTime() < minTime || time.getTime() > maxTime
                    },
                },

                // 图书购买
                buylist: [],  // 返回的我的购买列表
                buy_book_id: 0,  // 当前购买的书id
                buy_book_name: '',
                buy_book_price: 0,
                topreadlist: [],  // 返回的热书榜

                // 书评
                comment: '',  // 书评内容
                comment_bookid: 0,  // 评论的书id
                comment_list: [],  // 返回的书评列表

                // 各类对话框的显示
                dialogVisible: false,  // 借阅按钮对话框
                bldialogVisible: false,  // 借阅列表对话框
                dialogFormVisible: false, // 书评对话框
                buydialogVisible: false, // 购买按钮对话框
                commentdialogVisible: false, // 查看书评对话框

            },
            methods: {
                // 菜单选择
                handleClick(tab, event) {
                    console.log(tab, event);
                    if(tab.name == 'myborrow'){
                        this.get_borrow_list()
                    }
                    else if(tab.name == 'mybuy'){
                        this.get_buy_list()
                    }
                    else if(tab.name == 'topreaded'){
                        this.top_readed()
                    }
                },
                // 查询书籍
                search_book() {
                    axios.post('http://127.0.0.1:5000/book',{
                        'bookname': this.search_form.book_name,
                        'author': this.search_form.book_author,
                        'publisher': this.search_form.book_publisher,
                    })
                    .then(Response => {
                        console.log(Response['data']['status'])
                        this.booklist=Response['data']['books']
                        if(Response['data']['status']=='success'){
                            this.statuscode=1
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                },
                // 每页多少条
                handleSizeChange(val) {
                    this.pageSize = val;
                },
                // 当前页
                handleCurrentChange(val) {
                    this.currentPage = val;
                },
                // 请求借阅图书，服务器判断库存
                borrow_book(row) {
                    axios.post('http://127.0.0.1:5000/borrow',{
                        'message': 'request_borrow',
                        'bookid': row.bookid,
                        'username': this.username,
                    })
                    .then(Response => {
                        console.log(Response['data']['status'])
                        if(Response['data']['status']=='accept'){
                            this.borrow_book_id=row.bookid
                            this.dialogVisible=true
                        }
                        else if(Response['data']['status']=='no_storage'){
                            this.$notify.error({
                                title: '错误',
                                message: '该书库存为零，不可借阅'
                            });
                        }
                        else if(Response['data']['status']=='maximum_borrow_num'){
                            this.$notify.error({
                                title: '错误',
                                message: '您已达到借阅书目上限，不可借阅'
                            });
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                },
                // 确认借阅，服务器更新库存，记录借阅
                commit_borrow() {
                    axios.post('http://127.0.0.1:5000/borrow',{
                        'message': 'commit_borrow',
                        'bookid': this.borrow_book_id,
                        'username': this.username,
                        'startdate': this.borrow_date[0],
                        'enddate': this.borrow_date[1],
                    })
                    .then(Response => {
                        console.log(Response['data']['status'])
                        this.credit=Response['data']['credit']
                        this.borrow_date=[]
                        if(Response['data']['status']=='borrow_successfully'){
                            this.$notify({
                                title: '成功',
                                message: '借阅已成功，请及时取走书籍',
                                type: 'success'
                            });
                            this.borrow_book_id=0
                        }
                        else if(Response['data']['status']=='low_credit'){
                            this.$notify({
                                title: '失败',
                                message: '信誉分过低，请提高信誉分',
                            });
                            this.borrow_book_id=0
                        }
                        else if(Response['data']['status']=='invalid_date'){
                            this.$notify({
                                title: '失败',
                                message: '请选择今日之后的起止日期',
                            });
                            this.borrow_book_id=0
                        }
                        else if(Response['data']['status']=='already_borrowed'){
                            this.$notify({
                                title: '失败',
                                message: '您已经借阅过本书，不能再次借阅',
                            });
                            this.borrow_book_id=0
                        }
                        else if(Response['data']['status']=='borrow_failed'){
                            this.$notify.error({
                                title: '失败',
                                message: '借阅失败，请重新尝试'
                            });
                            this.borrow_book_id=0
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                },
                // 获取我的借阅
                get_borrow_list() {
                    axios.post('http://127.0.0.1:5000/borrow',{
                        'message': 'get_borrow_list',
                        'username': this.username,
                    })
                    .then(Response => {
                        this.credit=Response['data']['credit']
                        console.log(Response['data']['status'])
                        if(Response['data']['status']=='get_borrow_list_successfully'){
                            this.borrowlist=Response['data']['bl']
                        }
                        else{
                            this.$notify.error({
                                title: '失败',
                                message: '获取借阅列表失败'
                            });
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                },
                // 取消借阅
                recall_borrow(row){
                    this.$confirm('将取消借阅本书?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.post('http://127.0.0.1:5000/borrow',{
                            'message': 'recall_borrow',
                            'bookid' : row.bookid,
                            'username': this.username,
                        })
                        .then(Response => {
                            console.log(Response['data']['status']);
                            if(Response['data']['status']=='recall_successfully'){
                                this.$message({
                                    type: 'success',
                                    message: '取消借阅成功!'
                                });
                            }
                            else{
                                this.$message({
                                    type: 'error',
                                    message: '无此借阅记录！'
                                });
                            }
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });          
                    });
                },
                // 请求购买图书，服务器判断库存
                buy_book(row) {
                    axios.post('http://127.0.0.1:5000/buy',{
                        'message': 'request_buy',
                        'bookid': row.bookid,
                        'username': this.username,
                    })
                    .then(Response => {
                        console.log(Response['data']['status'])
                        if(Response['data']['status']=='accept'){
                            this.buy_book_id=row.bookid
                            this.discount=Response['data']['discount']
                            this.buy_book_name=Response['data']['bookname']
                            this.buy_book_price=Response['data']['realprice']
                            this.buydialogVisible=true
                        }
                        else if(Response['data']['status']=='no_storage'){
                            this.$notify.error({
                                title: '错误',
                                message: '该书库存为零，不可购买'
                            });
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                },
                // 确认购买，服务器更新库存，记录购买
                commit_buy() {
                    axios.post('http://127.0.0.1:5000/buy',{
                        'message': 'commit_buy',
                        'bookid': this.buy_book_id,
                        'username': this.username,
                    })
                    .then(Response => {
                        console.log(Response['data']['status'])
                        this.balance=Response['data']['balance']
                        if(Response['data']['status']=='buy_successfully'){
                            this.$notify({
                                title: '成功',
                                message: '购买已成功',
                                type: 'success'
                            });
                            this.borrow_book_id=0
                        }
                        else if(Response['data']['status']=='already_buyed'){
                            this.$notify({
                                title: '失败',
                                message: '您已经购买过本书，不能再次购买',
                            });
                            this.borrow_book_id=0
                        }
                        else if(Response['data']['status']=='low_balance'){
                            this.$notify({
                                title: '失败',
                                message: '您的账户余额不足',
                            });
                            this.borrow_book_id=0
                        }
                        else if(Response['data']['status']=='buy_failed'){
                            this.$notify.error({
                                title: '失败',
                                message: '购买失败，请重新尝试'
                            });
                            this.borrow_book_id=0
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                },
                // 获取购买列表
                get_buy_list() {
                    axios.post('http://127.0.0.1:5000/buy',{
                        'message': 'get_buy_list',
                        'username': this.username,
                    })
                    .then(Response => {
                        this.balance=Response['data']['balance']
                        this.consume=Response['data']['consume']
                        console.log(Response['data']['status'])
                        console.log(Response['data']['byl'])
                        if(Response['data']['status']=='get_buy_list_successfully'){
                            this.buylist=Response['data']['byl']
                        }
                        else{
                            this.$notify.error({
                                title: '失败',
                                message: '获取购买列表失败'
                            });
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                },
                // 获取热书榜
                top_readed() {
                    axios.post('http://127.0.0.1:5000/top',{
                        'message': 'top_readed',
                    })
                    .then(Response => {
                        console.log(Response['data']['status'])
                        if(Response['data']['status']=='success'){
                            this.topreadlist=Response['data']['topreaded']
                        }
                        else{
                            this.$notify.error({
                                title: '失败',
                                message: '获取热书列表失败'
                            });
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                },
                // 添加书评
                book_comment() {
                    console.log(this.comment_bookid)
                    axios.post('http://127.0.0.1:5000/comment',{
                        'message': 'comment',
                        'bookid': this.comment_bookid,
                        'username': this.username,
                        'comment': this.comment,
                    })
                    .then(Response => {
                        console.log(Response['data']['status'])
                        if(Response['data']['status']=='success'){
                            this.$notify({
                                title: '成功',
                                message: '添加书评成功',
                                type: 'success'
                            });
                            this.comment=''
                        }
                        else{
                            this.$notify.error({
                                title: '失败',
                                message: '添加书评失败'
                            });
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                },
                // 查看某书的书评
                view_comment(row) {
                    axios.post('http://127.0.0.1:5000/comment',{
                        'message': 'view_comment',
                        'bookid': row.bookid
                    })
                    .then(Response => {
                        console.log(Response['data']['status'])
                        if(Response['data']['status']=='success'){
                            this.comment_list=Response['data']['comment_list']
                            this.commentdialogVisible=true
                        }
                        else{
                            this.$notify.error({
                                title: '失败',
                                message: '查看书评失败'
                            });
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                }
            }
        });
    </script>
  
</html>
