<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <div id="info">Login Interface：
            <form action="/login" method="post">
                <p><input name="username"></p>
                <p><input name="password" type="password"></p>
                <p><button type="submit">登录</button></p>
                <p><button type="button" onclick="window.location.href='regist'">注册</button></p>
            </form>
            <div>{{ msg }}</div>
        </div>
    </body>
  
</html>
